<footer class="footer">
    <div class="footer-arrow__top arrow-top">
        <a href="#header"><i class="fas fa-angle-up"></i></a>
        <span>top</span>
    </div>
    <div class="footer-content">
        <div class="footer-content__contact footer-contact">
            <div class="footer-contact__info footer-info">
                <div class="footer-info__phone">
                    <i class="fas fa-phone fa-rotate-90"></i>
                    <a href="tel:1234567890">123-456-7890</a>
                </div>
                <div class="footer-info__email">
                    <a href="mailto:info@yoursite.com">info@yoursite.com</a>
                </div>
            </div>
            <div class="footer-contact__logo footer-logo">
                <div class="footer-logo__title">
                    <span>Royal</span>
                    <span>event</span>
                </div>
                <div class="footer-logo__subtitle">catering</div>
            </div>
            <div class="footer-contact__address footer-address">
                <span class="footer-address__city">123, New Lenox</span>
                <span class="footer-address__state">Chicago, IL 60606</span>

            </div>
        </div>
        <div class="footer-content__social footer-social">
            <ul class="footer-social__list footer-list">
                <li class="footer-list__item footer-item">
                    <a href=""><i class="fab fa-twitter"></i></a>
                </li>
                <li class="footer-list__item footer-item">
                    <a href=""><i class="fab fa-facebook-f"></i></a>
                </li>
                <li class="footer-list__item footer-item">
                    <a href=""><i class="fab fa-tumblr"></i></a>
                </li>
                <li class="footer-list__item footer-item">
                    <a href=""><i class="fab fa-instagram"></i></a>
                </li>
            </ul>
        </div>
        <div class="footer-content__copyright">
            Ancora © 2016 All Rights Reserved <a href="#">Terms of Use</a> and <a href="#">Privacy Policy</a>
        </div>
    </div>
</footer>

<script src="js/libs.js"></script>
<script src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<script src="js/main.js"></script>
</body>

</html>