<header class="header" id="header">

    <div class="container">
        <div class="header-body">
            <a href="#" class="header-body__icon">
                <i class="fas fa-home"></i>
            </a>


            <button class="header-body__burger header-burger">
				<span class="header-burger__line"></span>
				<span class="header-burger__line"></span>
				<span class="header-burger__line"></span>
			</button>

            <nav class="header-body__nav">
                <ul class="header-nav">
                    <li class="header-nav__item"><a href="#about">about us</a></li>
                    <li class="header-nav__item"><a href="#welcome">pages</a></li>
                    <li class="header-nav__item"><a href="#services">services</a></li>
                    <li class="header-nav__item"><a href="#menu">menu</a></li>
                    <li class="header-nav__item"><a href="#gallery">gallery</a></li>
                    <li class="header-nav__item"><a href="#blog">blog</a></li>
                    <li class="header-nav__item"><a href="#contacts">contacts</a></li>
                </ul>
            </nav>
        </div>
    </div>

</header>